body {
    margin: 0;
    background-color: dimgrey;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.continent-container, .country-container, .language-container {
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    width: 400px;
    background-color: #fff;
}

.country-container {
    margin-left: 50px;
}

.language-container {
    margin-left: 100px;
}
